<h1>All Categories</h1>

#foreach($category in $categories)
 <h3><a href="/categories/$category.getId()">$category.getName()</a></h3>
#end

<p>Add a category here:</p>

<form action="/categories/create" method="post">
  <label for="name">Category name</label>
  <input id="name" name="name" type="text" required>
  <button type="submit" class="btn btn-success">Add Category</button>
</form>

<a href="/tasks" class="btn btn-danger">View All Tasks</a>
